{% extends "base.html" %}

{% block title %}Lead{% endblock title %}

{% block content %}
<div class="container content-justify">
    <div class="d-flex align-items-center border-bottom border-2 p-3">
        <h3 class="fw-bold">Agent</h3>
        <a href="{% url 'agent:agent_create_url'%}" class="create-content ms-auto text-decoration-none ">Create a new agent</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="table-light">First Name</th>
                <th scope="col" class="table-light">Last Name</th>
                <th scope="col" class="table-light">Phone Number</th>
                <th scope="col" class="table-light">Email</th>
                <th scope="col" class="table-light">Lead</th>
                <th scope="col" class="table-light"></th>
            </tr>
        </thead>
        {% for agent in agents %}
            <tr>
                <td><strong>{{ agent.user.first_name }}</strong></td>
                <td><strong>{{ agent.user.last_name }}</strong></td>
                <td>{{ agent.user.phone }}</td>
                <td>{{ agent.user.email }}</td>
                {% with lead=agent.leads.count%}
                    <td>{{lead }}</td>
                {% endwith %}
                <td>
                    <a href="{% url 'agent:agent_update_url' agent.pk%}" class='text-decoration-none edit-link'>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}