{% extends "base.html" %}

{% block title %} Reset your Password {% endblock title %}

{% block content %}
<div class="content-detail container" style="width:60%">
    <div class="align-items-center p-3">
        <div class="my-3">
            {% if validlink %}
            <h5 class="text-uppercase">Password Reset</h5>
            <p>Enter the password:</p>
            <form class="border-bottom border-2 pb-4" method='POST'>
                {% csrf_token %}
                {{ form.as_p}}
                <button class="rounded px-3 py-1 btn-login text-white">
                    Send email
                </button>
            </form>
            {% else %}
                No
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}