{% extends "base.html" %}

{% block title %}Lead{% endblock title %}

{% block content %}
<div class="container content-justify">
    <div class="d-flex align-items-center border-bottom border-2 p-3">
        <h3 class="fw-bold d-flex flex-column">
            Lead
            <span style='font-size:12px;'>
                <a href="{% url 'lead:category_list_url'%}" class='text-secondary text-decoration-none'>View lead category</a>
            </span>
        </h3>
        {% if request.user.is_organisation %}
        <a href="{% url 'lead:lead_create_url'%}" class="create-content ms-auto text-decoration-none ">Create a new lead</a>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="table-light">First Name</th>
                <th scope="col" class="table-light">Last Name</th>
                <th scope="col" class="table-light">Age</th>
                <th scope="col" class="table-light">Phone Number</th>
                <th scope="col" class="table-light">Email</th>
                <th scope="col" class="table-light">Category</th>
                {% if request.user.is_organisation %}
                <th scope="col" class="table-light">Agent</th>
                {% endif %}
                <th scope="col" class="table-light"></th>
            </tr>
        </thead>
        {% for lead in leads %}
            <tr>
                <td><strong>{{ lead.first_name }}</strong></td>
                <td><strong>{{ lead.last_name }}</strong></td>
                <td>{{ lead.age }}</td>
                <td>{{ lead.phone }}</td>
                <td>{{ lead.email }}</td>
                <td>
                    <span class="px-3 py-1 rounded-5 border border-2 
                        {% if lead.category.title == 'unconverted'%}
                            border-secondary
                            bg-body-secondary
                        {% elif lead.category.title == 'contacted' %}
                            border-warning
                            bg-warning-subtle
                        {% elif lead.category.title == 'converted' %}
                            border-success
                            bg-success-subtle
                        {% endif %}">
                        {{ lead.category.title }}
                    </span>
                </td>
                {% if request.user.is_organisation %}
                <td>{{ lead.agent.user.get_full_name}}</td>
                {% endif %}
                <td>
                    <a href="{% url 'lead:lead_update_url' lead.pk%}" class='text-decoration-none edit-link'>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if unassigned_leads %}
        <div class="my-5">
            <div class="d-flex align-items-center border-bottom border-2 p-3">
                <h3 class="fw-bold">Unassigned Lead</h3>
            </div>
            <div class="row">
                {% for lead in unassigned_leads %}
                    <div class="col-4 p-3">
                        <div class="card mb-3">
                            <div class="card-body ms-5 card-content">
                                <i class="bi bi-box-fill icon"></i>
                                <h5 class="card-title">{{ lead }}</h5>
                                <p class="card-text">This lead haven`t agent. Please appoints agent!</p>
                                <a href="{% url 'lead:assign_lead_url' lead.pk %}" class="text-decoration-none view-link">Assing agent <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}