{% extends "base.html" %}

{% block title %}Lead{% endblock title %}

{% block content %}
<div class="container content-justify">
    <div class="d-flex align-items-center border-bottom border-2 p-3">
        <h3 class="fw-bold">Lead</h3>
        {% if request.user.is_organisation %}
        <a href="{% url 'lead:lead_create_url'%}" class="create-content ms-auto text-decoration-none ">Create a new lead</a>
        {% endif %}
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="table-light">First Name</th>
                <th scope="col" class="table-light">Last Name</th>
                <th scope="col" class="table-light">Age</th>
                <th scope="col" class="table-light">Phone Number</th>
                <th scope="col" class="table-light">Email</th>
                <th scope="col" class="table-light">Category</th>
                {% if request.user.is_organisation %}
                <th scope="col" class="table-light">Agent</th>
                {% endif %}
                <th scope="col" class="table-light"></th>
            </tr>
        </thead>
        {% for lead in leads %}
            <tr>
                <td><strong>{{ lead.first_name }}</strong></td>
                <td><strong>{{ lead.last_name }}</strong></td>
                <td>{{ lead.age }}</td>
                <td>{{ lead.phone }}</td>
                <td>{{ lead.email }}</td>
                <td>------------</td>
                {% if request.user.is_organisation %}
                <td>{{ lead.agent.user.get_full_name}}</td>
                {% endif %}
                <td>
                    <a href="{% url 'lead:lead_update_url' lead.pk%}" class='text-decoration-none edit-link'>Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}