{% extends "base.html" %}

{% block title %} Detail lead{% endblock title %}

{% block content %}
<div class="content-detail container" style="width:60%">
    <div class="align-items-center p-3">
        {% include 'lead/include/detailtitle.html' with lead=lead%}
        <div class="d-flex justify-content-start option-detail">
            <a class="text-decoration-none link-option-detail active">Overview</a>
            <a href="{% url 'lead:lead_update_url' lead.id%}"class="text-decoration-none link-option-detail ">Update Lead</a>
            <a href="{% url 'lead:category_lead_update_url' lead.id %}" class="text-decoration-none link-option-detail ">Category</a>
        </div>
        <div class="my-3">
            <h5 class="text-uppercase">Detail</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-start">
                    <span>Full name</span>
                    <span class='ms-auto'><strong>{{ lead }}</span></strong>
                </li>
                <li class="list-group-item d-flex justify-content-start">
                    <span>Email</span>
                    <span class='ms-auto'><strong>{{ lead.email }}</span></strong>
                </li>
                <li class="list-group-item d-flex justify-content-start">
                    <span>Age</span>
                    <span class='ms-auto'><strong>{{ lead.age }}</span></strong>
                </li>
                <li class="list-group-item d-flex justify-content-start">
                    <span>Phone</span>
                    <span class='ms-auto'><strong>{{ lead.phone }}</span></strong>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}