{% extends "base.html" %}

{% block title %} Update lead{% endblock title %}

{% block content %}
<div class="content-detail container" style="width:60%">
    <div class="align-items-center p-3">
        <h3 class="fw-ligth text-uppercase lead-tt-detail ">Lead</h3>
        <h4 class="fw-bold text-capitalize">User</h4>
        <div class="d-flex justify-content-start option-detail">
            <a class="text-decoration-none link-option-detail active">Overview</a>
            <a href="{% url 'lead:lead_update_url' lead.pk%}"class="text-decoration-none link-option-detail ">Update Lead</a>
            <a href="/" class="text-decoration-none link-option-detail ">Overview</a>
        </div>
        <div class="my-3">
            <h5 class="text-uppercase">Detail</h5>
            
        </div>
    </div>
</div>
{% endblock content %}