{% extends "base.html" %}

{% block title %} Update Category{% endblock title %}

{% block content %}
<div class="content-detail container" style="width:60%">
    <div class="align-items-center p-3">
        <h3 class="fw-ligth text-uppercase lead-tt-detail ">Lead</h3>
        <h4 class="fw-bold text-capitalize">{{ lead.first_name }}</h4>
        <div class="d-flex justify-content-start option-detail">
            <a href="{{ lead.get_absolute_url }}" class="text-decoration-none link-option-detail ">Overview</a>
            <a href="{% url 'lead:lead_update_url' lead.pk%}"class="text-decoration-none link-option-detail ">Update Lead</a>
            <a  class="text-decoration-none link-option-detail active">Category</a>
        </div>
        <div class="my-3">
            <h5 class="text-uppercase">Update Category</h5>
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="btn btn-primary btn-sm">Update category</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}