{% extends "base.html" %}

{% block title %} Update lead{% endblock title %}

{% block content %}
<div class="content-detail container" style="width:60%">
    <div class="align-items-center p-3">
        <h3 class="fw-ligth text-uppercase lead-tt-detail ">Lead</h3>
        <h4 class="fw-bold text-capitalize">User</h4>
        <div class="d-flex justify-content-start option-detail">
            <a href="{{ lead.get_absolute_url }}" class="text-decoration-none link-option-detail ">Overview</a>
            <a class="text-decoration-none link-option-detail active">Update Lead</a>
            <a href="/" class="text-decoration-none link-option-detail ">Overview</a>
        </div>
        <div class="my-3">
            <h5 class="text-uppercase">Update lead</h5>
            <form class="border-bottom border-2 pb-4" method='POST'>
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
            </form>
            <form class="mt-3">
                <button type="submit" class="btn btn-danger btn-sm">Submit</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}